html {
    background-color: #ffd645;
}

.fresh {
    position: absolute;
width: 84px;
height: 38px;
left: 49px;
top: 39px;

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 38px;

letter-spacing: -0.145em;

color: #FFFFFF;

-webkit-text-stroke: 1px rgb(0, 0, 0);
}

.opcions {
    position: absolute;
width: 755px;
height: 31px;
left: 342px;
top: 41px;
}

.liniablava {
position: absolute;
width: 92px;
height: 0px;
left: 342px;
top: 72px;

border: 2px solid #002AFF;
}

.shop_now {
    position: absolute;
width: 155px;
height: 13px;
left: 342px;
top: 43px;

font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 76.3%;

letter-spacing: -0.03em;

color: #0028F8;
}

.about_us {

position: absolute;
width: 155px;
height: 13px;
left: 492px;
top: 44px;

font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 76.3%;

/* or 15px */
letter-spacing: -0.03em;

color: #686868;
}

.our_recipies {
    position: absolute;
width: 155px;
height: 13px;
left: 642px;
top: 41px;

font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 76.3%;

/* or 15px */
letter-spacing: -0.03em;

color: #686868;


}

.instore {

position: absolute;
width: 81px;
height: 13px;
left: 811px;
top: 45px;

font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 76.3%;

/* or 15px */
letter-spacing: -0.03em;

color: #686868;
}

.whats_new {
    position: absolute;
width: 155px;
height: 13px;
left: 942px;
top: 43px;

font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 76.3%;

/* or 15px */
letter-spacing: -0.03em;

color: #686868;
}

.cercle {
    position: absolute;
left: 5%;
right: 15%;
top: 5%;
bottom: 15%;
border: 2px solid #FFFFFF;
border-radius: 100%;
padding: 3px;

}

.liniablanca {
    position: absolute;
left: 69.37%;
right: 12.5%;
top: 69.38%;
bottom: 12.5%;

border: 2px solid #FFFFFF;
position: absolute;
width: 36px;
height: 36px;
left: 1192px;
top: 36px;
}

.lemonade {
    width: 1052px;
height: 611px;
left: 194px;
top: 215px;

font-family: 'Red Hat Text';
font-style: normal;
font-weight: 700;
font-size: 350px;
line-height: 76.3%;

/* or 267px */
letter-spacing: -0.03em;

color: #F4EBCB;
}