.container {
    width: 1440px;
    height: 1024px;
    margin: 0 auto;
    background: #FFD645
}

.flex {
    display: flex;
    flex-direction: row;
}

header {
    padding: 40px;
    height: 100px;
}

.flex-center {
    justify-content: center;
}

header>div {
    width:200px;
}

div {
    display: block;
}

header>:nth-child(2) {
    width: 960px;
}

.menu {
    text-align: center;
    font-family: "Red Hat Text";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height:76.3%;
    letter-spacing: -0.03em;
    color: #686868
}

.menu a {
    padding: 0 15px;
}

.active {
    color: #0028F8;
}

a {
    text-decoration: none;
    font-weight: 600px;
    font-size: 20px;
    line-height: 23px;
    cursor: pointer;
}

i {
    transition: all .2s ease-in-out;
}

.lemonade {
    color: #F4EBCB;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 700;
    font-size: 350px;
    line-height: 76.3%;
    letter-spacing: -0.3em;
}
